<div class="card-body p-5 text-center">

    <div class="mb-md-5 mt-md-4 pb-5">

        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
        <p class="text-white-50 mb-5">Please enter your login and password.</p>

        <div class="text-start mb-4">
            <label class="form-label" for="typeEmailX">Phone Number:</label>
            <input type="number" #phoneInput class="form-control form-control-lg" />
        </div>

        <div class="text-start mb-4">
            <label class="form-label" for="typePasswordX">Password:</label>
            <input type="password" #passwordInput class="form-control form-control-lg" />
        </div>

        <span>{{ errorText }}</span>

        <!-- <p class="small mb-4 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

        <button class="btn btn-outline-light btn-lg px-5 w-100 mt-4" type="submit" (click)="login(phoneInput.value, passwordInput.value)">Login</button>

        <!-- <div class="d-flex justify-content-center text-center mt-4 pt-1">
            <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
            <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
            <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
        </div> -->
        <p class="mb-0 mt-5">Don't have an account? <a [routerLink]="['/register']" class="text-white-50 fw-bold">Sign Up</a>
        </p>

    </div>

</div>