<div class="text-center ">
    <div class="m-3"></div>
    <div class="w-50" style="margin: 0 auto;">
        <button type="button" [mat-dialog-close]="'witness'" class="btn btn-info w-100 p-2">Witness</button>
    </div>
    <div class="m-2"></div>
    <div class="w-50" style="margin: 0 auto;">
        <button type="button" (click)="actionFunc('share');" class="btn btn-info w-100 p-2">Share Location</button>
    </div>
    <div class="m-2"></div>
    <div class="w-50" style="margin: 0 auto;">
        <button type="button" (click)="actionFunc('view');" class="btn btn-info w-100 p-2">View Locations</button>
    </div>
    <div class="m-3"></div>
</div>