<div #tab class="tab-nav-container">
  <div class="tab active purple" routerLink="/home">
    <i class="fas fa-home"></i>
    <p>Home</p>
  </div>
  <div class="tab pink" routerLink="/bus-routes">
    <i class="fas fa-bus"></i>
    <p>Routes</p>
  </div>
  <!-- <div class="tab yellow" routerLink="/search">
    <i class="fas fa-search"></i>
    <p>Search</p>
  </div> -->
  <div class="tab teal" routerLink="/map">
    <i class="far fa-map"></i>
    <p>Map</p>
  </div>
  <div class="tab grey" routerLink="/profile">
    <i class="far fa-user"></i>
    <p>Profile</p>
  </div>
</div>